.collapse {
    &__header {
        display: flex;
        background-color: #ff6060;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        height: 50px;
        @media (max-width: 375px) {
            height: 30px;
        }
    }

    &__title {
        color: white;
        margin-left: 10px;
        font-weight: 700;
        @media (max-width: 375px) {
            font-size: 13px;
        }
    }
    &__chevron {
        color: white;
        margin-right: 10px;
        transition: transform 200ms ease;
        &--open {
            transform: rotate(-180deg);
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__content {
        padding: 0 10px;
        overflow: hidden;
        background-color: #f6f6f6;
        max-height: 0;
        transition: all 400ms ease;
        &--open {
            max-height: 500px;
            padding: 10px 10px;
        }
    }
}
