.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 20%;
        height: 60px;
        width: 120px;
    }
    &__nav {
        display: flex;
        width: 20%;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        padding: 0;
    }
    &__item {
    }
}
