.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 0 50px; // haut droite bas gauche
    &__logo {
        height: 50px;
        object-fit: contain;
    }
    &__nav {
        width: 20%;
        @media (max-width: 375px) {
            width: 40%;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        padding: 0;
    }
    &__item {
    }
    &__link {
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 500;
        &--active {
            text-decoration: underline;
        }
        @media (max-width: 375px) {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    @media (max-width: 375px) {
        margin: 20px 10px;
    }
}
