.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 150px;
    background-color: black;
    &__logo {
        margin-top: 50px;
        color: white;
        height: 30px;
        object-fit: contain;
    }
    &__text {
        color: white;
        margin: 10px;
    }
    @media (max-width: 375px) {
        gap: 0;
    }
}
